HW4/My_service/WebContent/WEB-INF/wsdl/couriers.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 

xmlns:wsp="http://www.w3.org/ns/ws-policy" 
xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://mycourierservice.idu0080.ttu/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
targetNamespace="http://mycourierservice.idu0080.ttu/" 
name="CourierServiceService">
<types>
<xs:schema xmlns:tns="http://mycourierservice.idu0080.ttu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mycourierservice.idu0080.ttu/">

<xs:element name="getAllCouriers" type="tns:getAllCouriers"/>

<xs:element name="getAllCouriersResponse" type="tns:getAllCouriersResponse"/>


<xs:complexType name="courier">
<xs:sequence>
<xs:element name="courier_id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCouriers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCouriersResponse">
<xs:sequence>
<xs:element name="return" type="tns:courier" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="getAllCouriers">
<part name="parameters" element="tns:getAllCouriers"/>
</message>
<message name="getAllCouriersResponse">
<part name="parameters" element="tns:getAllCouriersResponse"/>
</message>

<portType name="CourierService">

<operation name="getAllCouriers">
<input wsam:Action="http://mycourierservice.idu0080.ttu/CourierService/getAllCouriersRequest" message="tns:getAllCouriers"/>
<output wsam:Action="http://mycourierservice.idu0080.ttu/CourierService/getAllCouriersResponse" message="tns:getAllCouriersResponse"/>
</operation>

</portType>
<binding name="CourierServicePortBinding" type="tns:CourierService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllCouriers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CourierServiceService">
<port name="CourierServicePort" binding="tns:CourierServicePortBinding">
<soap:address location="http://localhost:8080/MyServicesApp/couriers"/>
</port>
</service>
</definitions>