HW4/My_service/WebContent/WEB-INF/wsdl/offer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 

xmlns:wsp="http://www.w3.org/ns/ws-policy" 
xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://offerservice.idu0080.ttu/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
targetNamespace="http://offerservice.idu0080.ttu/" 
name="CourierServiceService">
<types>
<xs:schema xmlns:tns="http://offerservice.idu0080.ttu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://offerservice.idu0080.ttu/">
<xs:element name="getOffer" type="tns:getOffer"/>
<xs:element name="getOfferResponse" type="tns:getOfferResponse"/>


<xs:complexType name="entAddress">
<xs:sequence>
<xs:element name="address" type="xs:int"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="county" type="xs:string" minOccurs="0"/>
<xs:element name="street_address" type="xs:string" minOccurs="0"/>
<xs:element name="town_village" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="shipping_address" type="tns:address" minOccurs="0"/>
<xs:element name="price_total" type="xs:float"/>
<xs:element name="seller" type="tns:seller" minOccurs="0"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="address">
<xs:sequence>
<xs:element name="address" type="xs:int"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="county" type="xs:string" minOccurs="0"/>
<xs:element name="street_address" type="xs:string" minOccurs="0"/>
<xs:element name="town_village" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seller">
<xs:sequence>
<xs:element name="addresses" type="tns:entAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offer">
<xs:sequence>
<xs:element name="offer_id" type="xs:string"/>
<xs:element name="price" type="xs:float"/>
<xs:element name="delivery_date" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOffer">
<xs:sequence>
<xs:element name="courier_id" type="xs:int"/>
<xs:element name="order" type="tns:order"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOfferResponse">
<xs:sequence>
<xs:element name="return" type="tns:offer" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>


</xs:schema>
</types>

<message name="getOffer">
<part name="parameters" element="tns:getOffer"/>
</message>
<message name="getOfferResponse">
<part name="parameters" element="tns:getOfferResponse"/>
</message>
<portType name="OfferService">

<operation name="getOffer">
<input wsam:Action="http://offerservice.idu0080.ttu/OfferService/getOfferRequest" message="tns:getOffer"/>
<output wsam:Action="http://offerservice.idu0080.ttu/OfferService/getOfferResponse" message="tns:getOfferResponse"/>
</operation>

</portType>
<binding name="OfferServicePortBinding" type="tns:OfferService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OfferServiceService">
<port name="OfferServicePort" binding="tns:OfferServicePortBinding">
<soap:address location="http://localhost:8080/MyServicesApp/offers"/>
</port>
</service>
</definitions>